* {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

.card {
    overflow: auto;
    margin: 0px auto;
    width: 600px;
    height: 750px;
    background-color: rgb(238, 238, 238);
}

.card .card__content {
    position: relative;
    margin: 25px auto;
    width: 520px;
    height: 700px;
    background-color: #fff;
}

.card .card__img {
    width: 100%;
}

.card .card__text__wrapper {
    width: 420px;
    margin: 0 auto;
}

.card .card__title {
    margin-top: 29px;
    color:rgb(53, 53, 53);
    font-weight: 700;
    font-size: 25px;
}

.card .card_subtitle {
    margin-top: 30px;
    color:rgb(53, 53, 53);
    font-weight: 500;
    font-size: 13px;
}

.card .card__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.card .card__footer>div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px; 
}

.card .card__footer>div>a {
    transition: .5s all;
    text-decoration: none;
    font-weight: 300;
    font-size: 9px;
    color:rgb(53, 53, 53);
}

.card .card__footer>div>a:hover {
    font-size: 11px;
    color: rgb(0, 204, 255)
}

.card .card__footer>div>img {
    width: 15px;
}

.card .card__footer>div:first-child {
    margin-left: 45px;
}


